<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Yoga Guru</h1>
        <div id="nav-btns">
            <a href="/home" class="btn">Home</a>
            <a href="/dashboard" class="btn">Dashboard</a>
            <a href="/test" class="btn">Test</a>
            <a href="/about" class="btn active">About Us</a>
            <a href="/contact" class="btn">Contact Us</a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </section>
</nav>
<main>
    <section id="about-main-section">
        <div id="founder-details">
            <div class="info-box">
                <img src="assets/about/sachi.png" alt="sachi" class="prof-img">
                <div class="info-det">
                    <div>Name : Sachi Shah</div>
                    <div>Role : M L Developer</div>
                    <div>Year : TE</div>
                    <div>Branch : A.I.D.S</div>
                    <div class="socials">
                    <a href="https://www.linkedin.com/in/sachijshah/"><img src="assets/about/linkedin.png" alt="linkedin"></a>
                    <a href="https://github.com/pysac17"><img src="assets/about/github.png" alt="linkedin"></a>
                    <a href="https://www.instagram.com/sachi_1702/"><img src="assets/about/instagram.png" alt="linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <img src="assets/about/kinjal.png" alt="sachi" class="prof-img">
                <div class="info-det">
                    <div>Name : Kinjal Bagal</div>
                    <div>Role : Documentation Head</div>
                    <div>Year : TE</div>
                    <div>Branch : A.I.D.S</div>
                    <div class="socials">
                    <a href="https://www.linkedin.com/in/kinjal-bagal/"><img src="assets/about/linkedin.png" alt="linkedin"></a>
                    <a href="https://www.instagram.com/kinjalbagal/"><img src="assets/about/instagram.png" alt="linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <img src="assets/about/aakash.png" alt="sachi" class="prof-img">
                <div class="info-det">
                    <div>Name : Aakash Lopes</div>
                    <div>Role : Frontend Developer</div>
                    <div>Year : TE</div>
                    <div>Branch : A.I.D.S</div>
                    <div class="socials">
                    <a href="https://www.linkedin.com/in/aakash-lopes-5490a8252/"><img src="assets/about/linkedin.png" alt="linkedin"></a>
                    <a href="https://www.instagram.com/aakash_lopes/"><img src="assets/about/instagram.png" alt="linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <img src="assets/about/junaid.png" alt="sachi" class="prof-img">
                <div class="info-det">
                    <div>Name : Mirza Mohd Junaid</div>
                    <div>Role : Backend Developer</div>
                    <div>Year : TE</div>
                    <div>Branch : A.I.D.S</div>
                    <div class="socials">
                    <a href="https://www.linkedin.com/in/mirza-mohammed-junaid-775461197/"><img src="assets/about/linkedin.png" alt="linkedin"></a>
                    <a href="https://github.com/Mirza-MohammedJunaid-au28"><img src="assets/about/github.png" alt="linkedin"></a>
                    <a href="https://www.instagram.com/its_junaidddd/"><img src="assets/about/instagram.png" alt="linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>