<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Yoga Guru</h1>
        <div id="nav-btns">
            <a href="/home" class="btn">Home</a>
            <a href="/dashboard" class="btn">Dashboard</a>
            <a href="/test" class="btn">Test</a>
            <a href="/about" class="btn">About Us</a>
            <a href="/contact" class="btn active">Contact Us</a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </section>
</nav>
<main>
    <section id="contact-main-section">
         <h1>Contact Us</h1>
            <div id="contact-box">
                <div id="map-section">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.4411288196634!2d72.818181814697!3d19.044332987106113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9410830616d%3A0x111b63353dbbce01!2sFr.%20Conceicao%20Rodrigues%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1670699672327!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="vertical-line"></div>
                <div id="contact-form">
                    <form action="https://getform.io/f/29eda634-4151-41bf-a3bf-a3a0ae141fb7" method="post">
                        <label for="name">Name :</label> <br>
                        <input type="text" name='name' id="name" required> <br><br>
                        <label for="email">Email :</label> <br>
                        <input type="email" name="email"  id="email" required> <br><br>
                        <label for="message">Message :</label> <br>
                        <textarea id="message" name="message" cols="30" rows="5"></textarea> <br><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
    </section>
</main>