<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Yoga Guru</h1>
        <div id="nav-btns">
            <a href="/home" class="btn">Home</a>
            <a href="/dashboard" class="btn active">Dashboard</a>
            <a href="/test" class="btn">Test</a>
            <a href="/about" class="btn">About Us</a>
            <a href="/contact" class="btn">Contact Us</a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </section>
</nav>
<main>
    <section id="dashboard-main-section">
        <div id="dashboard-box">
        <img src="assets/Hi.gif" alt="Hi">
        <label id="dashboard-name"></label>
        </div>
        <div id="user-details">
            <h3>User Details :</h3>
            <div id="user-details-box">
                <label>Email ID :</label>
                <span id="email-span"></span>
                <label>Any Medical Condition :</label>
                <span id="med-cond-span"></span>
                <label>Level when joined :</label>
                <span id="exp-span"></span>
                <label>Current Level :</label>
                <span id="level-span"></span>
                <label>Registered On :</label>
                <span id="joining-span"></span>
                <label>No of Days Completed :</label>
                <span id="complete-span"></span>
            </div>
        </div>
    </section>
</main>

<script src="js/script.js"></script>
<script src="js/dashboard.js"></script>