<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Yoga Guru</h1>
        <div id="nav-btns">
            <a href="/home" class="btn active">Home</a>
            <a href="/dashboard" class="btn">Dashboard</a>
            <a href="/test" class="btn">Test</a>
            <a href="/about" class="btn">About Us</a>
            <a href="/contact" class="btn">Contact Us</a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </section>
</nav>
<main>
    <section id="home-section">
        <div id="warmup">
            <span>Dont Forgot to Warmup Before Starting :</span>
            <a href="https://youtu.be/CSrBaHX3HxQ" target="_blank">Click Here</a>
        </div>
            <br>
        <div id="home-box">
            <h1>Today's Task :</h1>
            <a href="/task" class="start-btn">Start</a>
        </div>
        <div id="asans-container">

        </div>
    </section>
</main>
<script src="js/home.js"></script>