<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Yoga Guru</h1>
        <div id="nav-btns">
            <a href="/signup" class="btn">Signup</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </section>
</nav>
<main>
    <section id="main-section">
        <div id="home-content-box">
            <img src="assets/home-gif.gif" alt="clicked" id="clicked">
            <h1 id="heading">Just do it , Anytime , Anywhere</h1>
            <div id="redirect-btns">
                <a href="/signup" style="margin-right:20px;">Signup</a>
                <a href="/login">Login</a>
            </div>
        </div>
    </section>
</main>