<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Yoga Guru</h1>
        <div id="nav-btns">
            <a href="/home" class="btn">Home</a>
            <a href="/dashboard" class="btn">Dashboard</a>
            <a href="/test" class="btn active">Test</a>
            <a href="/about" class="btn">About Us</a>
            <a href="/contact" class="btn">Contact Us</a>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </section>
</nav>
<main>
    <section id="test-main-section">
        <h1>You are Not Eligible ! For a Test</h1>
    </section>
</main>
<script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
<script src="js/task.js"></script>